<form [formGroup]="myForm" (ngSubmit)="insert()">
    <table>
      <tr>
        <td>Enter Name</td>
        <td>:</td>
        <td>
          <input type="text" formControlName="name"/><br>
          <span *ngIf="myForm.controls.name.touched && myForm.controls.name.invalid" style="color:red">Please Enter Name</span>
        </td>
      </tr>
      <tr>
        <td>Enter Age</td>
        <td>:</td>
        <td><input type="text" formControlName="age"/></td>
      </tr>
      <tr>
        <td colspan="3" *ngIf="idToEdit==-1"><input type="submit" value="Add Faculty" [disabled]="!myForm.valid"/></td>
        <td colspan="3" *ngIf="idToEdit!=-1"><input type="submit" value="Edit Faculty"/></td>
      </tr>
    </table>
  </form>
  <br>
  <br>
  <table class="table" border="1">
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Delete</th>
      <th>Edit</th>
    </tr>
    <tr *ngFor="let fac of faculties; let i=index">
      <td>{{fac.name}}</td>
      <td>{{fac.age}}</td>
      <td><button (click)="delete(i)">Delete</button></td>
      <td><button (click)="setValueForEdit(i)">Edit</button></td>
    </tr>
  </table>